.hexa_services{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    /* clip-path: polygon(
        0 0,
        100% 10%,
        100% 100%,
        0 100%
      ); */
    /* margin-top: -5rem; */
    /* z-index: 999; */

}

.hexa_services-heading{
    font-family: var(--font-family);
    font-size:40px;
    color:var(--h2-color);
    text-align: center; 
}

.hexa_services-list{
    display: grid;
    grid-gap:10px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr; 
}

.service-item{
    display: flex;
    flex-direction: column;
    /* border:1px solid white; */
    margin:2rem;
    align-items: center;
    line-height: 4rem;
    /* height:20px */
}


.service-icon{
    width:50px;
    height: 50px;
    color:var(--h2-color);

}
.service-name{
    font-family: var(--font-family);
    font-size: 25px;
    font-weight: normal;
    color:var(--h2-color);
    text-align: center;
}
.service-desc{
    font-family: var(--font-family);
    text-align: center;
    color:var(--text-color);
    line-height: 2rem;
    font-size: 20px;
}
.hexa_services-readmorebutton{
    background: var(--second-color);
    margin-top: 4rem;
    padding:0.5rem 1rem;
    color:white;
    border:2px solid white;
    border-radius: 0px 15px 0px 15px;
    font-family: var(--font-family);
    font-size:20px;
    font-weight: bold;
    cursor: pointer;
    transition: border-radius 0.25s ease-in-out;
    z-index: 999;
}
.hexa_services-readmorebutton:hover{
    border-radius: 15px 0px 15px 0px;
}

@media screen and (max-width:1050px){
    .hexa_services-list{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        
        /* border:1px solid violet; */
        /* align-items: center; */
    }
    
}
@media screen and (max-width:650px){
    .hexa_services-list{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        
        /* border:1px solid violet; */
        /* align-items: center; */
    }
    
}
