/* Create Project */
.create_project_form{
    background-color: white;
    padding:2rem 2rem;
}

form{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:20px;
}
input{
    padding:10px;
    border:1px solid orange;
    border-radius: 2px;
}
.load_img{
    display: flex;
    flex-direction: column;
}
.categories{
    margin:2px 0px;
    padding:10px;
}
.action_buttons{
    flex:2;
    display:flex;
    flex-direction: row;
    gap:5px;
}
button{
    padding:10px;
    background-color: darkorange;
    color:white;
    border:none;
    cursor:pointer;
    &:hover{

        background-color: orange;
    }
}