@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('//db.onlinewebfonts.com/c/f50681b2730b665c01d2b860728aeba7?family=BunkenTechSansW01-Bold');

:root {
  --font-family: 'Manrope', sans-serif;

  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --first-color:#2A0C41;
  --second-color: #ff8420;
  --h2-color:#A37DD1;
  --text-color: #7F8190;
  --formInputs-color:#402655;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, var(--second-color) 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, var(--second-color) 99.55%);
  

  
}
